body{
padding: 20px;
font-family: Arial;
font-size: 14px;
color: #2f4f4f;
line-height: 1.5em;
background-image: url('seamless.png');
}
.sectionTitle{
color: #4285f4;
text-align: center;
}
table {
border-collapse: collapse;
width: 100%;
}
td, th {
border: 1px solid #999;
padding: 0.5rem;
text-align: left;
}
.container{
width: 960px;
margin: 0 auto;
position: relative;
}
.buttonResults {
border-top: 1px solid #96d1f8;
background: #65a9d7;
background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
background: -moz-linear-gradient(top, #3e779d, #65a9d7);
background: -ms-linear-gradient(top, #3e779d, #65a9d7);
background: -o-linear-gradient(top, #3e779d, #65a9d7);
padding: 5px 10px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0,0,0,1) 0 1px 0;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
color: white;
font-size: 14px;
font-family: Arial, serif;
text-decoration: none;
vertical-align: middle;
float: right;
}
.buttonResults:hover {
border-top-color: #28597a;
background: #28597a;
color: #ccc;
}
.buttonResults:active {
border-top-color: #1b435e;
background: #1b435e;
}